<div class="container">
    <div class="view" style="background-image: url('https://images8.alphacoders.com/815/815404.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <h1 class="h1-reponsive text-info" >Hero list!</h1>
        {{#if heroes}}
        <ul class="list-group" >
            {{#each heroes}}
            <li class="list-group-item" >
                <p>{{hero.mName}}</p>
                <ul class="list-group">
                    <li class="list-group-item">hero: {{hero.mName}}  {{Age.mAge}}</li>
                    <li class="list-group-item">powers: {{Powers.mPower}}</li>
                    <li class="list-group-item">Weaknesses: {{hero.mWeakness}}</li>
                </ul>
            </li>
            {{/each}}
        </ul>
        {{else}}
        <h4 class="h4-reponsive text-info animate fadeIn"><strong>No Hero Added !</strong></h4>
        {{/if}}
    </div>
</div>
{{> layout.hbs}}