<div class="view" style="background-image: url('https://images8.alphacoders.com/815/815404.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="jumbotron text-center">
        <h1 class="h1-reponsive text-info" ><strong> {{squad.name}} </strong></h1>
        <br>
        {{#if squad}}
        <div class="list-group">
            {{#each squad}}
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start stylish-color-dark text-white">
                <div class="d-flex w-75 justify-content-between">
                    <h3 class="list-group-item-heading text-info">{{hero.name}}</h3>
                    <span>{{hero.age}} years old</span>
                </div>
                <p class="list-group-item-text">Powers: {{hero.power}}
                    <br> Weaknesses: {{hero.weakness}}</p>
            </a>
        </div>
            {{/each}}
        {{/if}}
        <p>No hero added!</p>

        <br>
        <a href="/squads/$models.Squad.getId()/heroes/new" class="btn btn-outline-white ">Add New Hero  <i class="fas fa-user-plus animate rotateIn infinite"></i></a>
        <a href="/squads" class="btn btn-outline-white ">All Squads</a>
    </div>
</div>
{{> layout.hbs}}



